<html>
<head>
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>
<div id="app"></div>

<script type="text/babel">
    class MyForm extends React.Component {
        constructor(props) {
            super(props);
            this.state = {location: '', locations: [], loading: false};
        }

        changeHandler = async (event) => {
            this.setState({location: event.target.value, loading: true});
            if (!!event.target.value && event.target.value.trim().length) {
                fetch(`http://localhost:3000/location?q=${event.target.value}`)
                    .then(response => response.json())
                    .then(locations => this.setState(state => ({...state, loading: false, locations})));
            } else {
                this.setState(state => ({...state, loading: false}));
            }
        }

        render() {
            return (
                <div>
                    <form>
                        <p>Enter place location:</p>
                        <input
                            type='text'
                            onChange={this.changeHandler}
                            disabled={this.state.loading}
                        />
                    </form>
                    <div>
                        {this.state.loading && <b style={{'color': 'red'}}>Loading locations</b>}
                    </div>
                    <div>
                        {
                            !this.state.locations.length &&
                            !!this.state.location.trim().length &&
                            !this.state.loading &&
                            <b style={{'color': 'red'}}>No location is found</b>
                        }
                    </div>
                    <ul>
                        {this.state.locations.map(location => <li>{location}</li>)}
                    </ul>
                </div>
            );
        }
    }

    ReactDOM.render(<MyForm/>, document.getElementById('app'))
</script>
</body>
</html>
